// ======================================
//  Variables
// ======================================


// Colors
$primary-color: #52bab3;;
$text-color: rgb(144, 134, 134);

// Btn Colors
$fountain-blue  : #52bab3;
$emerald        : #5ece7f;
$sunglo         : #e67478;
$coral          : #ff784f;
$purple-majesty : #9279c3;


// Breakpoints
$break-s: 480px;
$break-m: 768px;
$break-l: 1400px;

// Text
$base__font-size : 16px;

// Fonts/
$regular: 'Asap Regular';
$regular-italic: 'Asap Regular Italic';
$medium: 'Asap Medium';
$bold: 'Asap Bold';
