// ======================================
//  Forms
// ======================================


.form {
	@include break-m {
		margin-left: em(40px);
	}
}

.form__input {
	display: block;
	margin-top: em(20px);
	margin-bottom: em(20px);
	padding: em(20px);
	border-bottom: em(5px) solid $primary-color;
	width: 100%; 
	outline: 0;
	border: 0;

	@include break-m {
	margin-top: em(5px);
	margin-bottom: em(15px);
	padding: em(15px);
	}
}

.form__label--hidden {
	display: none;
	border-bottom: em(5px) solid $primary-color;
}

.form__input:focus {
	outline: none;
	border-bottom: em(5px) solid $primary-color;
}
  
[type^=submit] {
	padding: em(0px, 15px);
	margin: em(0px, 40px);
	height: em(45px);
	width: 100%;
	cursor: pointer;
}