// ======================================
//  Forms
// ======================================


.form {
	@include break-m {
		margin-left: em(40px);
	}
}

.form__input {
	display: block;
	margin-top: em(15px);
	margin-bottom: em(15px);
	padding: em(20px);
	width: 100%; 
	outline: 0;
	border: 0;
}

.form__label--hidden {
	display: none;
}

.form__input:focus {
	outline: none;
	border-bottom: em(5px) solid $primary-color;
	margin-bottom: em(15px);
}
  
[type^=submit] {
	padding: em(10px, 15px);
	margin: em(10px, 30px);
	height: em(40px);
	width: 100%;
	cursor: pointer;
}