// ======================================
//  Navigation Styles
// ======================================


.nav {
  display: block;
  color: $text-color;
}

.nav__item {
  
  @extend %nav__item;

  &:hover {
    background-color: $primary-color;
    border-radius: em(5px);
    a {
      color: #fff;
    }  
  }

  @include break-s {
    display: block;
    margin: em(10px); 
    padding: em(10px);
  }
  @include break-m {
    display: inline-block;
  }

}
